* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(stars.gif);
    background-size: cover;
}

div.container>p {
    line-height: 100vh;
    text-align: center;

}

span.counter {
    color: yellow;
}

img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    animation-name: szerokosc;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes szerokosc {
    0% {
        left: 10px;
    }

    100% {
        left: calc(100% - 50px);
    }
}